* {
    margin: 0;
		box-sizing: border-box;
		font-family: 'Montserrat', sans-serif;    
}

.row:before,
.row:after {
    content: " "; /* 1 */
    display: table; /* 2 */
		clear: both;
}
[class*="col-"]{
	float:left;
	min-height:1px;
	 
}
/*Modal*/
.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: none;

}
.modal-content {
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #CECDB4;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem
}
.close {
  width:30px;
	height:30px;
	padding-top:4px;
	display:inline-block;
	position:absolute;
	top:0px;
	right:0px;
	transition:ease 0.25s all;
	-webkit-transform:translate(50%, -50%);
	transform:translate(50%, -50%);
	border-radius: 15px;
	background:rgba(0, 0, 0, 0.8);
	font-size:20px;
	text-align:center;
	line-height:100%;
	color:#fff;
	text-decoration: none;
}
.close:hover {
	-webkit-transform:translate(50%, -50%) rotate(180deg);
	transform:translate(50%, -50%) rotate(180deg);
	background: rgba(0, 0, 0, 1);

}
/*Animation*/   
@keyframes btnAnimation {
	0% {
		background-position: 100%;
	}
	100% {
		background-position:  0%;
		color: #FFF;
	}
}
@media (max-width: 375px) {
	/*Grid*/
.col-s-1 {width: 8.33%;}
.col-s-2 {width: 16.66%;}
.col-s-3 {width: 25%;}
.col-s-4 {width: 33.33%;}
.col-s-5 {width: 41.66%;}
.col-s-6 {width: 50%;}
.col-s-7 {width: 58.33%;}
.col-s-8 {width: 66.66%;}
.col-s-9 {width: 75%;}
.col-s-10 {width: 83.33%;}
.col-s-11 {width: 91.66%;}
.col-s-12 {width: 100%;}
.col-s-offset-0 {margin-left: 0;}
.col-s-offset-1 {margin-left: 8.33%;}
.col-s-offset-2 {margin-left: 16.66%;}
.col-s-offset-3 {margin-left: 25%;}
.col-s-offset-4 {margin-left: 33.33%;}
.col-s-offset-5 {margin-left: 41.66%;}
.col-s-offset-6 {margin-left: 50%;}
.col-s-offset-7 {margin-left: 58.33%;}
.col-s-offset-8 {margin-left: 66.66%;}
.col-s-offset-9 {margin-left: 75%;}
.col-s-offset-10 {margin-left: 83.33%;}
.col-s-offset-11 {margin-left: 91.66%;}
	a.toggle-nav {
		top: 12px;
    right: 15px;
    position: absolute;
    color: #fff;
    line-height: 25px;
    font-size: 22px;
    padding: 3px 5px;
    border-radius: 1px;
    transform: rotate(90deg);
		display: block;
		text-decoration: none;
	}
	.topNav {
		text-align: center;
  	transition:all 0.4s ease-in-out 0s;
		padding: 15px;
		margin-left: -500px;
		height:37vh;
	}
	.topNav.open {
		margin-left: 0;
		display: block;
	}
	.nav {
		list-style-type: none;
		display: block;
		margin: 0 auto;
		padding: 0;
	}
	.nav li {
		padding-top: 20px;
	}
	.nav a {
		display: block;
		width: 100%;
		text-decoration: none;
		color: #fff;
		font-weight: 700;
	}
	header {
		background-image: url(img/grid-ball-1914560.jpg);
		height: 100vh;
		
	}
	.logo {
		color: #fff;
		padding-top: 50px;
		text-align: center;
	}
	.logo h1 {
		font-family: 'Shadows Into Light', cursive;
	}
	.geodezja {
		position: relative;
		
	}
	.info img {
		max-width: 100%;
		height: 200px;
		position: absolute;
		top: 20px;
		right: 5px;	
	}
	.geodezja h2 {
		color: #fff;
		font-family: 'Shadows Into Light', cursive;
		text-align: center;
		padding: 54px 0 0 30px;
	}
	[class^="btn-"] {
	margin: 4px 2px;
	padding: 15px 30px;
	min-width: 160px;
	font-size: 16px;
	font-weight: bold;
	border-radius: 5px;
	cursor: pointer;
	background-color: inherit;
	border: 2px solid;
	background-position: 100% 0;
	background-size: 300%;
	color: #fff;
	animation: btnAnimation 2s infinite;
}
.btn-geo {
	color: #8e44ad;
	background-image: linear-gradient(90deg, #8e44ad 50%, transparent 50%);
	float: right;
	margin: 30px 50px 0 0;
}
	.brand .description {
		text-align: center;
		padding: 30px 5px 0 5px;
		line-height: 26px;
	}
	.brand h2 {
		padding-bottom: 10px;
	}
	
	.brand img {
		max-width: 100%;
		height: 200px;
	}
	.brand ul {
		list-style-type: circle;
		list-style-position: outside;
		padding: 10px 0 0 0;
		
	}
	.projects .imgContainer img {
		max-width: 100%;
		height: 250px;
		opacity: 0.7;
		display: block;
	}
	.projects .box {
		position: relative;
		text-align: center;
		color: #000;
		font-weight: 700;
	}
	.projects .box .layerBox {
		position: absolute;
		top: 100px;
		right: 50px;
		left: 50px;
	}
	.projects hr {
		border: 1px solid black;
		height: 1px;
	}
	.numbers {
		text-align: center;
		background: #EB5757;  /* fallback for old browsers */
background: -webkit-linear-gradient(left, #000000, #EB5757);
background: -o-linear-gradient(left, #000000, #EB5757);
background: linear-gradient(to right, #000000, #EB5757);  /* Chrome 10-25, Safari 5.1-6 */ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
	}
	.numbers .boxNumbers {
		margin: 30px auto;
		
		font-size: 30px;
		font-weight: bold;
	}
	.numbers h4 {
		padding-bottom: 30px;
	}
	.team {
		text-align: center;
		padding-top: 40px;
		height: 400px;
		
	}
	.team .btnBox {
		height: 40px;
		margin: 10px;
		background: #f3904f; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f3904f, #3b4371); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f3904f, #3b4371); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		color: #fff;
		font-weight: bold;
		border: none;
		
	}
	.containerShow{
		position: relative;
		overflow: hidden;
		display: block;
	}
	.containerShow1,
	.containerShow2 {
		position:absolute;
		display: none;
		
		
	}
	.team2 {
		text-align: center;
		padding: 40px 0 30px 0;
		background-image: url(img/team2BG.jpg);
		background-position: center;
		color: #000;
		
	}
	.team img {
		padding: 30px;
	}
	.team2 h4,
	.team2 p {
		font-weight: 700;
		padding: 10px;
	}
	.modal-content {
		width: 95%;
		height: 100vh;
		text-align: center;
		
	}
	.close {
		top:14px;
		right:12px;
	}
	.modal-content h3 {
		padding-bottom: 10px;
	}
	.modal-content ul {
		list-style-type: none;
		padding: 15px 0 0 0;
		margin-bottom: 30px;
		line-height: 26px;
	}
	.modal-content .row {
		line-height: 22px;
	}
	.modal-content .media {
		padding-top: 10px;
	}
	.modal-content .media .media-link {
		
		display: inline-block;
		width: 60px;
		height: 60px;
		font-size: 30px;
		padding: 14px;
		border-radius: 30px;
		margin: 5px;
		color: #fff;
		
	}
	.media .facebook {
		background: #3b5998;
	}
	.media .gmail {
		background: #bf0000;
	}
	.media .phone {
		background: #008000;
	}
	
	
}



